.homepageMaincontainer{
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.membersMaincontainer{
    width: 335px;
    padding: 10px;
    background-color: rgb(216, 216, 224);
    margin-right: 20px;
    margin-top: 20px;
}
.membersmapboxHome{
    width: 320px;
    max-height: 300px;
    overflow: auto;
}
.membersContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.membersContainer>button{
    background:  #e4e4e4;
    border: 1px solid black;
}
.membersContainer>button:hover{
    background:  #c5c5c5;
    cursor: pointer;
}
.timelineMaincontainer{
    width: 335px;
    padding: 10px;
    background-color: rgb(214, 230, 214);
    margin-right: 20px;
    margin-top: 20px;
}
.headingBoxhome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.timelinemapboxHome{
    width: 320px;
    max-height: 300px;
    overflow: auto;
}
.eachdayBoxhome{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
}
.eachdayBoxhome>button{
    cursor: pointer;
}
.membernameBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.membernameBox>button{
    margin-left: 5px;
}
.memberName{
    max-width: 130px;
}
.statusboxCircle{
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.statusText{
    margin-top: 2.5px;
    margin-left: 2px;
    font-size: 14px;
}

.activityboxHome{
    background-color: rgb(191, 240, 240);
    width: 335px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
  }
.headingboxHome2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
  }
  .activitymapboxHome{
    width: 320px;
    max-height: 300px;
    overflow: auto;
  }
  .eachdayboxHome2{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
  }
  .eachdayboxHome2>button:hover{
    cursor: pointer;
  }
