.profileMainContainer{
  font-family: 'Josefin Sans', sans-serif;
  padding: 50px;
  display: flex;
}
.introContainerMain{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.introContainer{
  
}
.toggleMainContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.toggleContainer1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  padding-left:10px;
  padding-right:10px;
}
.toggleContainer1:hover{
  cursor: pointer;
}
.toggleContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  margin-left: 10px;
  padding-left:10px;
  padding-right:10px;
}
.toggleContainer2:hover{
  cursor: pointer;
}
.profiledetailsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(209, 209, 209);
  padding: 15px;
  border-radius: 15px ;

}
.profiledetailsContainer>button{
  padding: 5px;
}
.profiledetailsContainer>button:hover{
  cursor: pointer;
}

.timelineandactivityBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.timelineBox{
  width: 320px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.headingBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
.timelinemapBox{
  width: 320px;
  max-height: 300px;
  overflow: auto;
}
.eachdayBox{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
}
.eachdayBox>button:hover{
  cursor: pointer;
}
.activityBox{
  width: 320px;
}
.activitymapBox{
  width: 320px;
  max-height: 300px;
  overflow: auto;
}