.profileMainContainer{
  font-family: 'Josefin Sans', sans-serif;
  padding: 50px;
  display: flex;
}
.toggleMainContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.toggleContainer1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  padding-left:10px;
  padding-right:10px;
}
.toggleContainer1:hover{
  cursor: pointer;
}
.toggleContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  margin-left: 10px;
  padding-left:10px;
  padding-right:10px;
}
.toggleContainer2:hover{
  cursor: pointer;
}

.headingBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
.eachdayBox{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
}